In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [33]:
L_all = {i: {j: [] for j in range(1, 13)} for i in range(1, 31)}
L_probs = {i: 1 for i in range(1, 31)}
month_counter = 1
for m in ['JanFeb', 'MarApr', 'MayJun', 'JulAug', 'SepOct', 'NovDec']:
    dw = pd.read_csv(f'Scenarios/Load Demand/HarrisCounty/LoadScenarios-{m}-w.csv')
    de = pd.read_csv(f'Scenarios/Load Demand/HarrisCounty/LoadScenarios-{m}-e.csv')
    cols = dw.columns[2:99]

    for i in range(1, 31):
        L_probs[i] = L_probs[i] * (dw['probs'].iloc[i-1] * de['probs'].iloc[i-1])

        dw_single = dw[cols].iloc[i-1]
        de_single = de[cols].iloc[i - 1]
        week_long = pd.concat([dw_single, dw_single, dw_single, dw_single, dw_single, de_single, de_single])
        week_long_hourly = []
        for j in range(1, 169):
            loc = (j-1)*4
            summ = sum(week_long[loc + k] for k in range(4))
            week_long_hourly.append(summ)
        L_all[i][month_counter] = week_long_hourly
        L_all[i][month_counter+1] = week_long_hourly
    month_counter += 2

In [45]:
if True:
    OT = pd.read_csv('Scenarios/Outage/Outage Scenarios - reduced.csv')

    Outage = {i+1: OT['Gamma Scenario'].iloc[i] for i in range(len(OT))}
OT

    Norm Error  Gamma Scenario  Probability
0           -2        0.077417     0.060598
1           -2        0.077417     0.060598
2           -1        1.092246     0.241730
3           -1        1.092246     0.241730
4           -1        1.092246     0.241730
5           -1        1.092246     0.241730
6           -1        1.092246     0.241730
7           -1        1.092246     0.241730
8           -1        1.092246     0.241730
9            0       10.304032     0.382925
10           0       10.304032     0.382925
11           0       10.304032     0.382925
12           0       10.304032     0.382925
13           0       10.304032     0.382925
14           0       10.304032     0.382925
15           0       10.304032     0.382925
16           0       10.304032     0.382925
17           0       10.304032     0.382925
18           0       10.304032     0.382925
19           0       10.304032     0.382925
20           0       10.304032     0.382925
21           1       42.051200     0.241730
22           1       42.051200     0.241730
23           1       42.051200     0.241730
24           1       42.051200     0.241730
25           1       42.051200     0.241730
26           1       42.051200     0.241730
27           1       42.051200     0.241730
28           2      106.660278     0.060598
29           3      208.317492     0.005977